button {
    width: 200px;
    height: 100px;
    margin: 2em;
}

.sub-menu {
    display: none;
}

.selected .sub-menu {
    display: block;
}

.selected .cat-btn { /* style category button! */
    color: red;
}

#categories {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.category {
    display: flex;
    flex-direction: row;
}