button {
    width: 200px;
    height: 100px;
    margin: 2em;
}

.selected {
    color: red;
}

#categories {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.category {
    display: flex;
    flex-direction: row;
}