button {
    width: 20vw;
    height: 25vh;
    margin: 2em;
}

.sub-menu { /* by default sub-menus are hidden */
    display: none;
}

.selected .sub-menu { /* only show sub-menus inside of a selected category */
    display: block;
}

.selected .cat-btn { /* style category button! */
    color: red;
}

.option-selected {
    color: green;
}

#categories {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.category {
    display: flex;
    flex-direction: row;
}